@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.woff');
    font-weight: 700;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    background: #dfa43d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    border-bottom: 3px solid #bc7e16;
    transition: .3s;
    font-size: .9rem;
}

.button i {
    color: rgba(0,0,0,0.5);
    padding-right: 5px;
    font-size: 1rem;
}

.button:hover {
    background: #bc7e16;
    border-color: transparent;
}

.button.success { background: #7ea530; border-color: #536c21; }
.button.error { background: #dc2e4f; border-color: #9c2038; }

.button.success:hover { background: #536c21; }
.button.error:hover { background: #9c2038; }

.lighter {
    font-size: 1.5rem;
    font-weight: 300;
}

.fade {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .15s;
    transition: .15s;
}
.fade.show {
    visibility: visible;
    opacity: 1;
}

.slide {
    margin-top: -100px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .15s;
    transition: .15s;
    position: absolute;
}
.slide.down {
    margin-top: 10px;
    visibility: visible;
    opacity: 1;
    position: static;
}







aside {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background: #222;
    min-height: 100vh;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    background: #111;
}

aside .title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
}

aside .title h2 {
    margin: 20px 0 10px;
    font-weight: 300;
    color: white;
    padding: 20px;
    text-align: center;
}

aside .title h2 span {
    font-weight: 600;
    color: #dfa43d;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 300px;
}

.navigation {
    margin: auto 0;
    list-style-type: none;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem;
}

.navigation li:not(:last-of-type) {
    border-bottom: 1px solid #333;
}

.navigation a {
    color: white;
    transition: .3s;
    padding: 15px 20px;
    display: inline-block;
}

.navigation .icon {
    display: inline-block;
    width: 30px;
}

.navigation i {
    color: #dfa43d;
    font-size: 1.3rem;
}

.navigation a:hover {
    color: #dfa43d;
}

footer {
    margin-top: 30px;
    color: #555;
    font-size: .8rem;
    padding: 20px;
    background: #111;
    text-align: center;
}

.logout {
	position: absolute;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 1;
    font-size: .9rem;
    top: 20px;
    right: 20px;
    font-weight: bold;
}

.logout img.d-block {
    width: 40px;
    margin: 0 auto 10px;
}

.logout a {
    color: #444;
}

main {
    display: block;
}

.main-header {
	padding: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.main-header .title {
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
}

.main-header .title span {
	color: #dfa43d;
}

.main-header .title i {
    color: #dfa43d;
    font-size: 2.5rem;
}

.separator {
    height: 120px;
}

section {
	padding: 60px;
}





form {
    width: 100%;
    max-width: 600px;
}
.boxed-form {
   	width: 100%;
    max-width: 800px;
    border-radius: 10px;
    background: #eee;
    margin: 0 auto;
}
.form-title {
	padding: 40px;
	border-bottom: 1px solid #ddd;
}
form .title {
    color: #666666;
    font-weight: normal;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
}
.form-title span {
	font-size: .8rem;
    color: #777;
    letter-spacing: 1px;
}
.form-title span.required {
	margin: 0;
}
.form-content {
	padding: 40px;
}
.igv {
	text-align: center;
}
.igv span {
	font-size: .8rem;
    color: #777;
    letter-spacing: 1px;
}
.input-container {
    margin-bottom: 20px;
    position: relative;
}
.input-container:last-of-type {
	margin-bottom: 0;
}
.input-container > label {
    font-weight: 600;
    display: flex;
    align-items: center;
}
label span {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    margin-right: 20px;
    font-weight: normal;
    font-size: .9rem;
    color: #555;
    text-align: right;
}
.input-container > label.columns {
	flex-direction: column;
}
label.columns span {
	max-width: unset;
	margin: 0;
	margin-bottom: 2px;
	text-align: left;
}
.validation {
    width: 100%;
    display: inline-block;
}
input, select, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: .3s;
    width: 100%;
    font-size: .9rem;
}
input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #bc7e16;
}
input.error, select.error, textarea.error {
    border-color: #dc2e4f;
}
.validation .error {
    color: #dc2e4f;
    font-weight: normal;
    font-size: .9rem;
}
form button.form-submit {
    display: block;
    margin-left: auto;
}
span.required {
    color: #dc2e4f;
    font-weight: bold;
    display: inline-block;
    width: unset;
    margin-right: 5px;
}
.form-actions {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	border-top: 1px solid #ddd;
}
.form-actions .button {
	margin: 0;
}
.recover {
	font-weight: bold;
	color: #dfa43d;
}
/* label.file {
    display: inline-block;
    background: #dfa43d;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: .9rem;
}
label.file i {
	margin-left: 10px;
} */





main table.dataTable tbody td {
    padding: 15px 18px;
}
main table.dataTable thead th {
    text-align: left;
    white-space: nowrap;
    padding: 18px 25px 18px 18px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
    border-top: 1px solid #dfa43d;
    border-bottom: 1px solid #dfa43d;
    color: #dfa43d;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: rgba(223, 164, 61, .1);
} 
main table.dataTable thead th.icon, table td.icon {
    text-align: center;
}
table td.icon i {
    color: #dfa43d;
}
table.dataTable.row-border tbody tr:last-of-type td {
    border-bottom: 1px solid #dfa43d;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
}
.dataTables_wrapper select, .dataTables_wrapper input {
    width: 100px;
    background: #eee;
    border: none;
    padding: 5px 10px;
    margin: 0 10px;
}
.dataTables_wrapper input {
	padding-right: 0;
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.dataTables_scrollBody::-webkit-scrollbar-track {
    background: #ddd; 
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #dfa43d;
}
.table-header {
	font-size: .9rem;
	display: flex;
}
.table-header > * {
    width: 33%;
    margin-right: 20px;
}
.table-footer {
    margin-top: 20px;
    font-size: .9rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 5px 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #dfa43d;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.actions {
    text-align: right;
    margin: 0;
}
table.row-border.dataTable {
    min-width: 100% !important;
}
.dataTables_scrollHeadInner {
    min-width: 100% !important;
}






#overlay {
    top: 0;
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.modal {
    visibility: hidden;
    opacity: 0;
    z-index: 9999999;
    background: white;
    padding: 40px;
    width: 650px;
    max-width: 100%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.modal-box {
    position: relative;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-footer {
    margin-top: 30px;
}

.modal-close.icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.modal-close.icon i {
    display: block;
}






@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}



.noti {
	padding: 10px 20px;
	color: white;
    display: none;
}
.noti.success {
	background: #7ea530;
}
.noti.error {
	background: #dc2e4f;
}
.noti .dismiss {
	cursor: pointer;
}
.noti span {
	margin-left: auto;
}




.actions-drop {
	position: relative;
	cursor: pointer;
	transition: .3s;
	background: transparent;
	padding: 5px;
	border: none;
	width: 100%;
    font-size: 1rem;
}
.actions-drop:focus {
	outline: none;
}
.actions-drop.opened {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
table .actions-drop.opened.top {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid transparent;
}
.drop {
	display: none;
	position: absolute;
	background: white;
	z-index: 1;
    right: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    min-width: 230px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    top: 100%;
    color: #666;
    font-size: .95rem;
}
table .actions-drop.opened .drop {
	display: block;
}
table .actions-drop.opened.top .drop {
    bottom: 100%;
    top: unset;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}
.drop ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.drop ul li {
	transition: .3s;
	padding: 10px 20px;
	cursor: pointer;
}
.drop ul li i {
	padding-right: 5px;
}
.drop ul li:hover {
	background: rgba(223, 164, 61, .2);
}





/* Login */
.background-login {
    background-image: url('../img/login.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 10px;
}
.bottom-logo {
    margin-top: auto;
    padding: 20px;
}
.forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
            box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin-top: auto;
    text-align: center;
    width: 100%;
    max-width: 900px;
    min-height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.forms > div {
    padding: 30px;
    background-image: url('../img/login-bg.jpg');
    background-size: cover;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.forms > form {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
form .checkbox input {
    display: none;
}
label.checkbox {
	margin-bottom: .5rem;
	cursor: pointer;
}
.checkbox span {
    height: 16px;
    width: 16px;
    background: white;
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
}
.checkbox input[type=checkbox]:checked + span::after {
    content: '';
    background-image: url(../img/yellow-check.svg);
    height: 12px;
    width: 12px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: cover;
}
.forms > form input:not([type="checkbox"]) {
    display: block;
    border: 2px solid #ddd;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1rem;
}
.forms > form .input-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
}
.forms > form input:focus {
    border-color: #dfa43d;
}
.forms > form input:focus + span {
    content: '';
    background: white;
    top: -10px;
    height: 20px;
    width: 30px;
    position: absolute;
    left: 20px;
}
.forms > form input:focus + span::after {
    content: '';
    height: 10px;
    width: 10px;
    background: #dfa43d;
    border-radius: 50%;
    top: 6px;
    left: 0;
    position: absolute;
}
.forms .title {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 2rem;
}
.forms > div > .title {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.forms > div > .title::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: white;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
}
.forms > form > .title {
    color: #dfa43d;
    margin-bottom: 40px;
}
.forms > form .checkbox span {
    border: 2px solid #ccc;
    margin-right: 5px;
}
.forms > form .checkbox {
    font-size: .9rem;
}
.forms .recover {
    font-size: .9rem;
}
.toggle-btn {
    padding: 8px 25px;
    border-radius: 30px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-weight: 600;
    width: 170px;
    margin: 0 auto;
    -webkit-transition: .3s;
    transition: .3s;
}
.toggle-btn:hover {
    background: white;
    color: #dfa43d;
}
.submit-btn {
    padding: 8px 25px;
    border-radius: 30px;
    border: 2px solid #dfa43d;
    background: #dfa43d;
    color: white;
    font-weight: 600;
    margin: 40px auto 0;
    width: 170px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    font-size: 1rem;
}
.submit-btn:hover {
    background: white;
    color: #dfa43d;
    border: 2px solid #dfa43d;
}
.hide {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
}
@media (min-width: 1200px) {
    .forms {
        position: absolute;
        left: 100px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}
@media (min-width: 992px) {
    .forms {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .forms > div {
        width: 40%;
    }
    .forms > form {
        width: 60%;
        padding: 30px;
    }
    .forms .order-2 {
        -webkit-box-ordinal-group: 2 !important;
            -ms-flex-order: 1 !important;
                order: 1 !important;
    }
    .forms .register {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}
/* Login */




/* Wizard */
.wizard-head {
    margin-bottom: 40px;
}
.wizard-head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.wizard-head li {
    cursor: pointer;
    width: 100%;
    text-align: center;
    background: #eee;
    padding: 10px;
    margin-right: 5px;
    transition: .3s;
    border-radius: 4px;
    border: 1px solid transparent;
    position: relative;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
    color: #999;
}
.wizard-head li:last-of-type {
    margin-right: 0;
}
.wizard-head li.active {
    color: #dfa43d;
    border-color: #dfa43d;
    background: transparent;
}
.wizard-head li.filled {
    background: #7ea530;
    color: white;
}
.wizard-head li.filled::after {
    content: url('../img/check.svg');
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-left: 10px;
}
li.step-li.filled.active {
    border-color: #7ea530;
    background: transparent;
    color: #7ea530;
}
li.step-li.filled.active::after {
    content: url('../img/check-green.svg');
}
.progress {
    position: relative;
    height: 2px;
    background: #ddd;
}
.bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #7ea530;
    transition: .3s ease-in-out;
}
.wizard-footer {
	text-align: center;
	margin-top: 40px;
}
.wizard-footer button {
    min-width: 130px;
    text-align: center;
}
.wizard-footer button  i {
    vertical-align: middle;
}
button.button.disabled {
    background: #ddd;
    color: #bbb;
    border-color: #bbb;
    pointer-events: none;
}
button.button.disabled i {
    color: #bbb;
}
.step {
    display: none;
}
.step.active {
    display: block;
}
.step-li.active {
    font-weight: bold;
}
.step form .row > div {
    margin-bottom: 20px;
}
.wizard .form-content > div > p {
    margin: 0;
}
.wizard .form-content > div > p span {
	text-transform: uppercase;
	font-weight: 600;
	font-size: .95rem;
}
.form-content .inst {
	color: #666;
	font-size: .95rem;
}
span.pedido {
    background: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 20px;
}
.price {
	text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    background: white;
    width: 280px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.price b.tag {
	font-weight: 600;
}
.price .nums {
	white-space: nowrap;
}
/* Wizard */

.profile {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background: #eee;
}

.profile .title {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.profile p {
    margin: 0;
    margin-top: 10px;
}

.profile p span {
    padding-left: 20px;
}

.btn-group {
    text-align: center;
}

.btn-group .button {
    min-width: 230px;
}

.centered {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.bottom-logo img {
    width: 100%;
    max-width: 400px;
}

.goback-btn {
	position: absolute;
	top: 40px;
	right: 40px;
}

.goback-btn img {
	max-width: 300px;
}

.sidebar-btn img {
    width: 250px;
    display: block;
    margin: auto auto 0;
}

.text-center {
   text-align: center !important;
}
.text-right {
   text-align: right !important;
}
.text-left {
   text-align: left !important;
}
.price-table-heading > div {
   margin-bottom: 20px;
   font-size: .9rem;
}
.yellow {
   color: #bc7e16;
}
.fila {
   margin-bottom: 10px;
}
.fila > *, .price-table-heading > div {
   width: 120px;
   text-align: center;
}
.price-table-heading > div {
   width: 180px;
}