<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{fragments/base}">
	  
	<th:block layout:fragment="contenido_pagina">
	  
	  <div class="col-md-7 col-lg-8 col-xl-9">
	      <!-- Main -->
	      <main>
	          
	          <!-- Header -->
	          <header class="main-header">
	              <h1 class="title">Pedidos de Certificados - <span>Bandeja</span></h1>
	          </header>
	          <!-- Header -->
	          
	          <!-- Exito Notificacion -->
	          <div id="exitoso" class="noti success">
	          	<div class="d-flex">
	          		<span>El proceso se realizó exitosamente</span>
	          		<span class="dismiss"><i class="fas fa-times"></i></span>
	          	</div>
	          </div>
	          <!-- Exito Notificacion -->
	          
	          <!-- Error Notificacion -->
<!-- 	          <div class="noti error"> -->
<!-- 	          	<div class="d-flex"> -->
<!-- 	          		<span>Error</span> -->
<!-- 	          		<span class="dismiss"><i class="fas fa-times"></i></span> -->
<!--           		</div> -->
<!-- 	          </div> -->
	          <!-- Error Notificacion -->
	
			  <section>
			  
			  	 <div class="table-header">
			  	 
			  	 	<div class="input-container">
			  	 		<input class="table-search-nombre" type="text" placeholder="Buscar por Nombre de Aliado">
			  	 	</div>
			  	 	
			  	 	<div class="input-container">
<!-- 			  	 		<input class="table-search-tipo-certificado" type="text" placeholder="Buscar por tipo certificado"> -->
						<select class="table-select-certificado">
			  	 			<option selected disabled>Buscar por Tipo Certificado</option>
			  	 			<option th:each="tipoCertificado : ${tiposCertificado}" 
													        th:value="${tipoCertificado.id}" 
													        th:text="${tipoCertificado.nombre}" />
			  	 		</select>
			  	 	</div>
			  	 	
			  	 	<div class="input-container">
			  	 		<select class="table-select">
			  	 			<option selected disabled>Buscar por Estado Pedido</option>
			  	 			<option th:each="tipoEstadoPedido : ${tiposEstadoPedido}" 
													        th:value="${tipoEstadoPedido.id}" 
													        th:text="${tipoEstadoPedido.nombre}" />
			  	 		</select>
			  	 	</div>
			  	 	
<!-- 			  	 	<div class="actions"> -->
<!-- 	                  <a href="javascript:void(0)" class="button" id="btnNuevoPedido"><i class="fas fa-plus-circle"></i> Solicitar Nuevo Pedido</a> -->
<!-- 	              	</div> -->
	              
			  	 </div>
			  	 
			  
		          <!-- Table sample -->
		          <table id="gestion-pedidos" width="100%" class="row-border hover">
		              <thead>
	              		<tr>
	              			  <th>ID</th>
		                      <th>Número de Pedido</th>
		                      <th>Nombre Aliado</th>
		                      <th>Tipo Certificado</th>
		                      <th>Vigencia Certificado</th>
		                      <th>Titular Certificado</th>
		                      <th>Titular Razon Social</th>	                     
<!-- 		                      <th>Fecha Pago</th> -->
		                      <th>Estado Pedido</th>
	 	                      <th class="icon">Visualizar Pago</th>
	 	                      <th class="icon">Cambiar Estado</th>
		                  </tr>
		              </thead>	             
		              
	              </table>
              </section>
              
          </main>
	          
	   	</div>
	  	
	</th:block>
	
	<th:block layout:fragment="contenido_modal">
		
		<div id="modal-exito" class="modal modal-alert modal-success" style="display: none;">
			<div class="modal-dialog">
            	<div class="modal-content">
            		<div class="modal-header"><i class="fa fa-check-circle"></i></div>
              		<div class="modal-title">Proceso exitoso</div>
              		<div class="modal-body">La operación se ha realizado satisfactoriamente.</div>
              		<div class="modal-footer">
                		<button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
              		</div>
            	</div>
          	</div>
		</div>
		
		<div id="modal-eliminar" class="modal modal-alert modal-danger" style="display: none;">
			<div class="modal-dialog">
            	<div class="modal-content">
              		<div class="modal-header"><i class="fa fa-times-circle"></i></div>
              		<div class="modal-title">¿Está usted seguro?</div>
              		<div class="modal-body">¿Desea eliminar el registro seleccionado? Este proceso no puede ser revertido.</div>
              		<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                		<button type="button" class="btn btn-danger" data-dismiss="modal" id="btnEliminar">Eliminar</button>
              		</div>
            	</div>
          	</div>
        </div>
    	    
	    <div id="overlay" class="fade">
	        <div id="modal-confirmar" class="modal slide">
	            <div class="modal-dialog modal-lg" role="document">
	                <div class="modal-head">
	                    <div class="modal-title">
	                        <h3>Intranet-Certificados</h3>
	                    </div>
	                </div>
	                <div class="modal-body">
	                </div>
	                <div class="modal-footer">
	                    <button class="button success wizard-modal-confirm modal-close"><i class="fas fa-check-circle"></i> Cerrar</button>
	                </div>
	            </div>
	        </div>		      	
	    </div>
	        
	    
	</th:block>
	
	<th:block layout:fragment="scripts">
		<script th:inline="javascript">
			
			var selEmpresa     = $("#selEmpresa");
			var btnConsultar   = $("#btnConsultar");
			var btnRegistrar   = $('#btnRegistrar');
			var btnLimpiar     = $('#btnLimpiar');
			var btnEliminar    = $('#btnEliminar');
			var btnNuevoPedido = $('#btnNuevoPedido');
			var idUsuario = [[${idUsuario}]];
		
			$(document).ready(function() {
				
				var selectedolditem = localStorage.getItem('mostrarNotificacionExito');			

				
				inicializarControles();
				
				inicializarFuncionalidad();
// 				mostrarModalInicio();

				

				// NOTIFICACIONES
				$('.noti.success').slideDown('fast');
				$('.dismiss').on('click', function(){
					$(this).parents('.noti').slideUp('fast');
				});
				
				//DROPDOWN TUERQUITA
				$(document).on('click', '.actions-drop', function(e){
					
					if (!$(this).hasClass('opened')) {
						
						var height = e.currentTarget.offsetParent.clientHeight;
					    var clientRect = e.currentTarget.offsetParent.getBoundingClientRect().top;

					    var top = height-80 < e.clientY - clientRect;
					    top ? $(this).addClass('top') : $(this).removeClass('top');
					    
					    $(this).addClass('opened');
					    
					} else {
						$(this).removeClass('opened');
						$(this).removeClass('top');
					}
				});
				$(document).on('focusout', '.actions-drop', function(){
					$(this).removeClass('opened');
					$(this).removeClass('top');
				});
				
				//OCULTAR ACCION EXITOSA
// 				$('.noti.success').hide();
				
				if(selectedolditem != 1){
					mostrarNotificacionInicio();
				}
				
				localStorage.clear();
			});

			function inicializarControles(){
				var tablePedidos = $("#gestion-pedidos").DataTable({
					"scrollX": true,
					"scrollY": "500px",
	 		        "dom": 't<"table-footer"lp>',			
		    		"sAjaxSource": "/pedido/admin/listar",
		    		"fnServerParams": function ( aoData ) {
		    	         aoData.push( { "name": "idUsuario", "value": idUsuario });
		    		},
					"sAjaxDataProp": "",
					"order": [ [ 0, 'desc' ] ],
					"pageLength": 50,
					"columnDefs": [
						{
							"targets":[0],
							"visible": false
						}
					],
					"columns": [
						{ "data": "id"},
					    { "data": "numero"},
				     	{ "data": "nombreAliado"},
				     	{ "data": "nombreTipoCertificado"},
						{ "data": "nombreTiempoVigencia","width": "8%"},
// 						{ "data": "razonSocialTitular","width": "10%"},
// 						{ "data": "rucTitular"},
						{ "data": "representanteLegal"},
						{ "data": "datosFacturacion"},
						{ "data": "estadoPedido","width": "8%"},
						{
		                 data: null,
		                 className: "icon",
		                 defaultContent: '<a class="btnSeleccionar" href="javascript:void(0)" title="Seleccionar"><i class="fas fa-receipt"></i></a>'
		            	},
						{
			                 data: null,
			                 className: "icon",
			                 defaultContent: '<button class="actions-drop" title="Acciones"><i class="fas fa-tasks"></i><div class="drop"><ul><a class="pagoConfirmado"><li><i class=""></i>Pago confirmado</li></a><a class="validacionCompleta"><li><i class=""></i>Validacion completa</li></a><a class="certificadoEmitido"><li><i class=""></i>Certificado emitido</li></a><a class="certificadoDescargado"><li><i class=""></i>Certificado descargado</li></a><a class="facturaEmitida"><li><i class=""></i>Factura emitida</li></a></ul></div></button>'
			            }
		            //	{
		            //      data: null,
		            //      className: "icon",
		            //      defaultContent: '<button class="actions-drop" title="Acciones"><i class="fas fa-cog"></i><div class="drop"><ul><a class="inhabilitar"><li><i class="fas fa-ban"></i> Inhabilitar</li></a><a class="enviarNotificacion"><li><i class="fas fa-share-square"></i> Enviar notificación para generación de clave</li></a></ul></div></button>'
		            //	}
					],
					"language": {	
					    "sProcessing":     "Procesando...",
					    "sZeroRecords":    "No se encontraron resultados",
					    "sEmptyTable":     "Ningún dato disponible en esta tabla",
					    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
					    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
					    "sInfoPostFix":    "",
					    "sSearch":         "Buscar:",
					    "sUrl":            "",
					    "sInfoThousands":  ",",
					    "sLoadingRecords": "Cargando...",
					    "lengthMenu":     "Mostrar _MENU_ registros",
					    "oPaginate": {
					        "sFirst":    "Primero",
					        "sLast":     "Ãšltimo",
					        "sNext":     "Siguiente",
					        "sPrevious": "Anterior"
					    },
					    "oAria": {
					        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
					    }
					}
				}); 
								
				$('#gestion-pedidos tbody').on( 'click', 'a', function () {
					var action = this.className;
					var estadoPedido = null;
					
					if(action == 'btnSeleccionar'){
		      			var data = tablePedidos.row( $(this).parents('tr') ).data();      				
		      			var extensionImagen =  data['extensionImagen'];
			     		var url = /*[+ [[@{/pedido/verPdf/}]] + data['id'] +]*/;
			    		modalToggle('modal-confirmar',url,extensionImagen);		
					}
					
// 					if(action == 'actions-drop'){
						if(action == 'pagoConfirmado'){
			      			var data = tablePedidos.row( $(this).parents('tr') ).data();
							estadoPedido=8;
	            			$.redirect( /*[[@{/pedido/cambiarEstado}]]*/ , {idPedido: data['id'], idEstadoPedido: estadoPedido }, "POST");
						}
						
						if(action == 'validacionCompleta'){
			      			var data = tablePedidos.row( $(this).parents('tr') ).data();
							estadoPedido=4;
	            			$.redirect( /*[[@{/pedido/cambiarEstado}]]*/ , {idPedido: data['id'], idEstadoPedido: estadoPedido }, "POST");
						}
						
						if(action == 'certificadoEmitido'){
			      			var data = tablePedidos.row( $(this).parents('tr') ).data();
							estadoPedido=5;
	            			$.redirect( /*[[@{/pedido/cambiarEstado}]]*/ , {idPedido: data['id'], idEstadoPedido: estadoPedido }, "POST");
						}
						
						if(action == 'certificadoDescargado'){
			      			var data = tablePedidos.row( $(this).parents('tr') ).data();
							estadoPedido=6;	
	            			$.redirect( /*[[@{/pedido/cambiarEstado}]]*/ , {idPedido: data['id'], idEstadoPedido: estadoPedido }, "POST");
						}
						
						if(action == 'facturaEmitida'){
			      			var data = tablePedidos.row( $(this).parents('tr') ).data();			
							estadoPedido=7;
	            			$.redirect( /*[[@{/pedido/cambiarEstado}]]*/ , {idPedido: data['id'], idEstadoPedido: estadoPedido, idUsuario: idUsuario }, "POST");
						}
// 					}
										
				});
				
				
				// Buscar en tabla por input text
				$('.table-search-nombre').on('keyup', function(){
					tablePedidos.columns(2).search($(this).val()).draw();
				});
				
				$('.table-select-certificado').on('change', function(){
					var text = $(this).find('option:selected').text();
					if(text == 'Todos'){
						tablePedidos.columns(3).search('').draw();
					}else{
						tablePedidos.columns(3).search(text).draw();
					}
				});
							
				// Buscar en tabla por selector
				$('.table-select').on('change', function(){
					var text = $(this).find('option:selected').text();
					if(text == 'Todos'){
						tablePedidos.columns(6).search('').draw();
					}else{
						tablePedidos.columns(6).search(text).draw();
					}
				});
				
				// Resize fix
				$(window).resize(function(){
					tablePedidos.columns.adjust().draw();
				});
				
			};
			
			function inicializarFuncionalidad(){
				
				btnNuevoPedido.click(function(event){
					$.redirect( /*[[@{/pedido/crear}]]*/, {}, "POST");
				});
				
			};
			
			function mostrarNotificacionInicio(){
				
				var selectedolditem = localStorage.getItem('selectedolditem');
				
				var mostrarNotificacionExito = /*[[${mostrarNotificacionExito}]]*/ null;
				if( mostrarNotificacionExito ){
					$('.noti.success').show();
				}else{
					$('.noti.success').hide();
				}
			}
			
			function mostrarNotificacion(){
				
			}
			
			function modalToggle(modalTarget, url, extensionImagen) {

			if(extensionImagen != null){
				if(extensionImagen == 'pdf'){
	 	    		$("#modal-confirmar").find(".modal-body").html('<object type="application/pdf" data="' + url + '" width="100%" height="500" style="height: 85vh;">No Support</object>');
				}else{
		    		$("#modal-confirmar").find(".modal-body").html('<img src="'+url+'" width="100%" height="500" style="height: 85vh;"/>');
				}
			}else{
	    		$("#modal-confirmar").find(".modal-body").html('No se ha adjuntado ningun archivo.');
			}
				
				

	    		$('#overlay').addClass('show');
		        document.getElementById(modalTarget).classList.add('down');

		        $('.modal-close, #overlay').on('click', function(){
		            $('#overlay').removeClass('show');
		            document.getElementById(modalTarget).classList.remove('down');
		        });
		    }
			
					
		</script>
	</th:block>
	
	
</html>