<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{fragments/base}">
	  
	<th:block layout:fragment="contenido_pagina">
	  
	  <div class="col-md-7 col-lg-8 col-xl-9">
	      <!-- Main -->
	      <main>
	          
	          <!-- Header -->
	          <header class="main-header">
	              <h1 class="title">Gestión de Aliados - <span>Bandeja</span></h1>
	          </header>
	          <!-- Header -->
	          
	          <!-- Exito Notificacion -->
	          <div id="exitoso" class="noti success">
	          	<div class="d-flex">
	          		<span class="mensaje">El proceso se realizó exitosamente</span>
	          		<span class="dismiss"><i class="fas fa-times"></i></span>
	          	</div>
	          </div>
	          <!-- Exito Notificacion -->
	          
	          <!-- Error Notificacion -->
<!-- 	          <div class="noti error"> -->
<!-- 	          	<div class="d-flex"> -->
<!-- 	          		<span>Error</span> -->
<!-- 	          		<span class="dismiss"><i class="fas fa-times"></i></span> -->
<!--           		</div> -->
<!-- 	          </div> -->
	          <!-- Error Notificacion -->
	
			  <section>
			  
			  	 <div class="table-header">
			  	 
			  	 	<div class="input-container">
			  	 		<input class="table-search-nombre" type="text" placeholder="Buscar por Nombre de Aliado">
			  	 	</div>
			  	 							  	 	
			  	 	<div class="input-container">
			  	 		<select class="table-select">
			  	 			<option selected disabled>Tipo de Aliado</option>
			  	 			<option th:each="tipoAliado : ${tiposAliado}" 
													        th:value="${tipoAliado.id}" 
													        th:text="${tipoAliado.nombre}" />
			  	 		</select>
			  	 	</div>
			  	 	
			  	 	<div class="input-container">
<!-- 			  	 		<input class="table-search-estado" type="text" placeholder="Buscar por estado"> -->
						<select class="table-select-estado">
				  	 		<option selected disabled>Estado de Registro</option>
				  	 		<option th:each="estadoRegistro : ${estadosRegistro}" 
													        th:value="${estadoRegistro.id}" 
													        th:text="${estadoRegistro.nombre}" />
			  	 		</select>
			  	 	</div>
			  	 	
			  	 	<div class="actions">
	                  <a href="/usuario/registrar" class="button"><i class="fas fa-plus-circle"></i> Crear aliado</a>
	              	</div>
	              
			  	 </div>
			  	 
			  
		          <!-- Table sample -->
		          <table id="gestion-aliados" width="100%" class="row-border hover">
		              <thead>
	              		<tr>
	              			  <th>ID</th>
		                      <th>DNI</th>
		                      <th>Nombres</th>
		                      <th>RUC</th>
		                      <th>Correo</th>
		                      <th>Teléfono</th>
		                      <th>Estado</th>
		                      <th>Cantidad <br>Pedidos</th>
		                      <th>Tipo de aliado</th>
		                      <th class="icon">Editar</th>
	 	                      <th class="icon">Acciones</th>
		                  </tr>
		              </thead>
		              
	              </table>
              </section>
              
          </main>
	          
	   	</div>
	  	
	</th:block>
	
	<th:block layout:fragment="contenido_modal">
		<div id="modal-exito" class="modal modal-alert modal-success" style="display: none;">
			<div class="modal-dialog">
            	<div class="modal-content">
            		<div class="modal-header"><i class="fa fa-check-circle"></i></div>
              		<div class="modal-title">Proceso exitoso</div>
              		<div class="modal-body">La operación se ha realizado satisfactoriamente.</div>
              		<div class="modal-footer">
                		<button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
              		</div>
            	</div>
          	</div>
		</div>
		
		<div id="modal-eliminar" class="modal modal-alert modal-danger" style="display: none;">
			<div class="modal-dialog">
            	<div class="modal-content">
              		<div class="modal-header"><i class="fa fa-times-circle"></i></div>
              		<div class="modal-title">¿Está usted seguro?</div>
              		<div class="modal-body">¿Desea eliminar el registro seleccionado? Este proceso no puede ser revertido.</div>
              		<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                		<button type="button" class="btn btn-danger" data-dismiss="modal" id="btnEliminar">Eliminar</button>
              		</div>
            	</div>
          	</div>
        </div>
	</th:block>
	
	
	
	<th:block layout:fragment="scripts">
		<script th:inline="javascript">
			
			var tblGestionAliados = $("#gestion-aliados");
			var selEmpresa     = $("#selEmpresa");
			var btnConsultar   = $("#btnConsultar");
			var btnRegistrar   = $('#btnRegistrar');
			var btnLimpiar     = $('#btnLimpiar');
			var btnEliminar    = $('#btnEliminar');

		
			$(document).ready(function() {
				
				var selectedolditem = localStorage.getItem('mostrarNotificacionExito');			

				
				inicializarControles();
				
				inicializarFuncionalidad();
// 				mostrarModalInicio();

				

				// NOTIFICACIONES
				$('.noti.success').slideDown('fast');
				$('.dismiss').on('click', function(){
					$(this).parents('.noti').slideUp('fast');
				});
				
				//DROPDOWN TUERQUITA
				$(document).on('click', '.actions-drop', function(e){
					
					if (!$(this).hasClass('opened')) {
						
						var height = e.currentTarget.offsetParent.clientHeight;
					    var clientRect = e.currentTarget.offsetParent.getBoundingClientRect().top;

					    var top = height-80 < e.clientY - clientRect;
					    top ? $(this).addClass('top') : $(this).removeClass('top');
					    
					    $(this).addClass('opened');
					    
					} else {
						$(this).removeClass('opened');
						$(this).removeClass('top');
					}
				});
				$(document).on('focusout', '.actions-drop', function(){
					$(this).removeClass('opened');
					$(this).removeClass('top');
				});
				
				//OCULTAR ACCION EXITOSA
// 				$('.noti.success').hide();
				
				if(selectedolditem != 1){
					mostrarNotificacionInicio();
				}
				
				localStorage.clear();
			});

			function inicializarControles(){
				var tableAliados = $("#gestion-aliados").DataTable({					
					"scrollX": true,
					"scrollY": "500px",
	 		        "dom": 't<"table-footer"lp>',			
		    		"sAjaxSource": "/usuario/listar",
					"sAjaxDataProp": "",
					"order": [ [ 0, 'desc' ] ],
					"pageLength": 50,
					"columnDefs": [
						{
							"targets":[0],
							"visible": false
						}
					],
					"columns": [
						{ "data": "id"},
					    { "data": "dni","width": "10%"},
				      	{ "data": "nombres" },
						{ "data": "ruc" },
						{ "data": "correoElectronico","width": "18%"},
						{ "data": "telefono"},
						{ "data": "estadoRegistros"},
						{ "data": "cantidadPedidos"},
						{ "data": "tipoAliado" },
					 	{
		                  data: null,
		                  className: "icon",
		                  defaultContent: '<a class="btnEditar" href="javascript:void(0)" title="Editar"><i class="fas fa-edit"></i></a>'
		            	},
		            	{
		                  data: null,
		                  className: "icon",
		                  defaultContent: '<button class="actions-drop" title="Acciones"><i class="fas fa-cog delegate"></i><div class="drop"><ul><a class="inhabilitar"><li><i class="fas fa-ban"></i> Inhabilitar</li></a><a class="enviarNotificacion"><li><i class="fas fa-share-square"></i> Enviar notificación para generación de clave</li></a><a class="consultarPedidos"><li>Consultar Pedidos</li></a></ul></div></button>'
		            	}
					],
					"language": {	
					    "sProcessing":     "Procesando...",
					    "sZeroRecords":    "No se encontraron resultados",
					    "sEmptyTable":     "NingÃºn dato disponible en esta tabla",
					    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
					    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
					    "sInfoPostFix":    "",
					    "sSearch":         "Buscar:",
					    "sUrl":            "",
					    "sInfoThousands":  ",",
					    "sLoadingRecords": "Cargando...",
					    "lengthMenu":     "Mostrar _MENU_ registros",
					    "oPaginate": {
					        "sFirst":    "Primero",
					        "sLast":     "Ãšltimo",
					        "sNext":     "Siguiente",
					        "sPrevious": "Anterior"
					    },
					    "oAria": {
					        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
					    }
					}
				}); 
								
				$('#gestion-aliados tbody').on( 'click', 'a', function () {
					var action = this.className;
					
					if(action == 'btnEditar'){
		      			 var data = tableAliados.row( $(this).parents('tr') ).data();
		                 window.location.href = '/usuario/editar/' + data['id'];
		      		 }else if(action == 'inhabilitar'){
		      			 var data = tableAliados.row( $(this).parents('tr') ).data();
      			 
			      			$.ajax({
			                    url      : /*[[@{/usuario/habilitarInhabilitar}]]*/,
			                    type     : "post",
			                    dataType : "json",
			                    cache    : false,
			                    data     : {
			                    	idUsuario :  data['id'],
			                    	estado : data['estadoRegistros']
			                    }
			                }).done(function(paramJson){
			                	localStorage.setItem("mostrarNotificacionExito", 1);		 
			                	window.location.href = '' + /*[[@{/usuario/bandeja}]]*/;
// 			                	$('.noti.success').show();
			                }).fail(function( jqXHR, textStatus, errorThrown ) {
			                	//VALIDAR_ERROR
			                });
		      			 
		      		 }else if(action == 'enviarNotificacion'){
		      			
		      			 var data = tableAliados.row( $(this).parents('tr') ).data();

		      			$.ajax({
		                    url      : /*[[@{/usuario/generarClave}]]*/,
		                    type     : "post",
		                    dataType : "json",
		                    cache    : false,
		                    data     : {
		                    	idUsuario :  data['id']
		                    }
		                }).done(function(paramJson){
// 		                	localStorage.setItem("mostrarNotificacionExito", 1);		 
// 		                	window.location.href = '' + /*[[@{/usuario/bandeja}]]*/;
		                	$('.noti.success .mensaje').text(paramJson.parametros.mensaje);
		                	$('.noti.success').show();
		                }).fail(function( jqXHR, textStatus, errorThrown ) {
		                	//VALIDAR_ERROR
		                });
		      			
		      		 }else if(action == 'consultarPedidos'){
		      			 
		      			 var data = tableAliados.row( $(this).parents('tr') ).data();

		                	$.redirect( /*[[@{/pedido/admin/bandeja}]]*/, {idUsuario: data['id']}, "GET");

// 		                	window.location.href = '' + /*[[@{/usuario/bandeja}]]*/;
		      		 }
					
				});	
				
				
				// Buscar en tabla por input text
				$('.table-search-nombre').on('keyup', function(){
					tableAliados.columns(2).search($(this).val()).draw();
				});
				
				// Buscar en tabla por selector
				$('.table-select').on('change', function(){
					var text = $(this).find('option:selected').text();
					if(text == 'Todos'){
						tableAliados.columns(8).search('').draw();
					}else{
						tableAliados.columns(8).search(text).draw();
					}
				});
				
				$('.table-select-estado').on('change', function(){
					var text = $(this).find('option:selected').text();
					var regex =  "^\\s*"+ text +"\\s*$";
					if(text == 'Todos'){
						tableAliados.columns(6).search('').draw();
					}else{
						tableAliados.columns(6).search(regex,true,false).draw();
					}
				});
				
				// Resize fix
				$(window).resize(function(){
					tableAliados.columns.adjust().draw();
				});
				
			};
			
			function inicializarFuncionalidad(){
				
				btnRegistrar.click(function(event){
					window.location.href = '' + /*[[@{/usuario/registrar}]]*/;
				});
				
				btnConsultar.click(function(event){
					$.ajax({
	                    url      : "/usuario/consultar",
	                    type     : "GET",
	                    dataType : "json",
	                    cache    : false,
	                    data     : {
	                    	idEmpresa   : selEmpresa.val()
	                    }
	                }).done(function(paramJson) {
	                	tblUsuarios.bootstrapTable('load', paramJson.parametros.usuarios);
	                }).fail(function( jqXHR, textStatus, errorThrown ) {
	                	//VALIDAR_ERROR
	                });
		    	});
							
				btnEliminar.click(function(event){
					var id = jQuery("#modal-eliminar").data('id');
					/*[+ window.location.href = [[@{/usuario/eliminar/}]] + id +]*/
				});
				
			};
			
			function mostrarNotificacionInicio(){
				
				var selectedolditem = localStorage.getItem('selectedolditem');
				
				var mostrarNotificacionExito = /*[[${mostrarNotificacionExito}]]*/ null;
				if( mostrarNotificacionExito ){
					$('.noti.success').show();
				}else{
					$('.noti.success').hide();
				}
			}
			
			function mostrarNotificacion(){
				
			}
			
			function accionesFormatter(value, row, index) {
				var botones = [
					'<a class="icon" href="javascript:void(0)" title="Acciones">',
	     			'</a>'	
                ];
				return botones.join('');
			}
				
			window.accionesEvents = {
// 				'click .btnEditar': function(e, value, row, index){
// 					/*[+ window.location.href = [[@{/usuario/editar/}]] + row.id +]*/
// 				},
				'click .btnEliminar': function(e, value, row, index){
					$("#modal-eliminar").data('id', row.id)
										.modal('show');
				}
			};
					
		</script>
	</th:block>
	
	
	
</html>