<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{fragments/base}">

	<th:block layout:fragment="contenido_pagina">
	
		<div class="col-md-7 col-lg-8 col-xl-9">
			<main>
			
				<!-- Header -->
                    <header class="main-header">
                        <h1 class="title">Mi perfil</h1>
                    </header>
                    <!-- Header -->

                    <section class="centered">
                        <div class="profile">
                            <h2 class="title" th:text="${nombreCompleto}">Cyntia Huaytán Suazo</h2>

                            <p><b>Cantidad de Pedidos: </b><span th:text="${cantidadPedidos}"></span></p>
                            <p><b>Tipo de Aliado: </b><span th:text="${tipoAliado}"></span></p>
                        </div>
                        <div class="btn-group">
                            <button class="button" id="btnNuevoPedido" ><i class="fas fa-plus-circle"></i> Solicitar nuevo pedido</button>
	                        <button class="button" id="btnEditarCuenta" ><i class="fas fa-edit"></i> Editar mi cuenta</button>
                        </div>
                    </section>
			
			</main>
			
			<section class="centered pt-0">
                       <div class="profile">
                           <h2 class="title text-center">Plan de precios de certificados digitales</h2>
                           <div class="price-table-heading d-flex justify-content-between text-center">
                               <div>Categoría <br>de Aliado</div>
                               <div>Cantidad de Certificados Vendidos</div>
                               <div>Precio de Certificados por Aliado. *Vigencia 1 año</div>
                           </div>
                           <div class="fila d-flex justify-content-center">
                               <b class="text-left">Basic</b>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>2 - 5</span>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>S/. 190.00</span>
                           </div>
                           <div class="fila d-flex justify-content-center">
                               <b class="text-left">Bronce</b>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>6 - 20</span>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>S/. 179.00</span>
                           </div>
                           <div class="fila d-flex justify-content-center">
                               <b class="text-left">Plata</b>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>21 - 50</span>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>S/. 170.00</span>
                           </div>
                           <div class="fila d-flex justify-content-center">
                               <b class="text-left">Oro</b>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>51 - 80</span>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>S/. 145.00</span>
                           </div>
                           <div class="fila d-flex justify-content-center">
                               <b class="text-left">Platino</b>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>81 - 120</span>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>S/. 140.00</span>
                           </div>
                           <div class="fila d-flex justify-content-center">
                               <b class="text-left">VIP</b>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
                               <span>121 a +</span>
                               <span class="yellow"><i class="fas fa-angle-right"></i></span>
								<span>S/. 135.00</span>
                           </div>
                       </div>
                       <span class="text-right d-block">*Los precios no incluyen IGV.</span>
                       <span class="text-right d-block">*Para certificados con vigencia mayor a 1 año, contactarse directamente.</span>
                       
                   </section>
		</div>
	</th:block>
	
	<th:block layout:fragment="scripts">
		<script th:inline="javascript">
			
		var btnNuevoPedido = $('#btnNuevoPedido');
		var btnEditarCuenta = $('#btnEditarCuenta');
		var idUsuario = [[${usuario.id}]];
			$(document).ready(function() {
				
				btnNuevoPedido.click(function(event){
					$.redirect( /*[[@{/pedido/crear}]]*/, {}, "POST");
				});
				
				btnEditarCuenta.click(function(event){
// 					$.redirect( /*[[@{/usuario/perfil/editar/}]]*/, {}, "GET");
	                /*[+ window.location.href = [[@{/perfil/editar/}]]  + idUsuario +]*/

				});
								
			});
				
		</script>
	</th:block>
	
</html>