<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{fragments/base}">

	<th:block layout:fragment="contenido_pagina">
	
		<div class="col-md-7 col-lg-8 col-xl-9">
			<main>		
				<!-- Header -->
                    <header class="main-header">
                        <h1 class="title">Mi perfil</h1>
                    </header>
                    <!-- Header -->

                    <section class="centered">
                        <div class="profile">
                            <h2 class="title" th:text="${nombreCompleto}">Cyntia Huaytán Suazo</h2>
                        </div>
                        <div class="btn-group">
	                        <button class="button" id="btnEditarCuenta" ><i class="fas fa-edit"></i> Editar mi cuenta</button>
                        </div>
                    </section>
			
			</main>
		</div>
		
	</th:block>
	
	<th:block layout:fragment="scripts">
		<script th:inline="javascript">
			
		var btnEditarCuenta = $('#btnEditarCuenta');
		var idUsuario = [[${usuario.id}]];
			$(document).ready(function() {
				
				btnEditarCuenta.click(function(event){
	                /*[+ window.location.href = [[@{/perfil/admin/}]]  + idUsuario +]*/
				});
								
			});
				
		</script>
	</th:block>
	
</html>