<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{fragments/base}">
	  
	<th:block layout:fragment="contenido_pagina">
	  
	  <div class="col-md-7 col-lg-8 col-xl-9">
	      <!-- Main -->
	      <main>
	          
	          <!-- Header -->
	          <header class="main-header">
	              <h1 class="title">Pedidos de Certificados - <span>Bandeja</span></h1>
	          </header>
	          <!-- Header -->
	          
	          <!-- Exito Notificacion -->
	          <div id="exitoso" class="noti success">
	          	<div class="d-flex">
	          		<span>El proceso se realizó exitosamente</span>
	          		<span class="dismiss"><i class="fas fa-times"></i></span>
	          	</div>
	          </div>
	          <!-- Exito Notificacion -->
	          
	          <!-- Error Notificacion -->
<!-- 	          <div class="noti error"> -->
<!-- 	          	<div class="d-flex"> -->
<!-- 	          		<span>Error</span> -->
<!-- 	          		<span class="dismiss"><i class="fas fa-times"></i></span> -->
<!--           		</div> -->
<!-- 	          </div> -->
	          <!-- Error Notificacion -->
	
			  <section>
			  
			  	 <div class="table-header">
			  	 
			  	 	<div class="input-container">
			  	 		<input class="table-search-razon-social" type="text" placeholder="Buscar por Razón Social">
			  	 	</div>
			  	 	
			  	 	<div class="input-container">
			  	 		<select class="table-select-tipo-certificado">
			  	 			<option selected disabled>Buscar Tipo Certificado</option>
			  	 			<option th:each="tipoCertificado : ${tiposCertificado}" 
													        th:value="${tipoCertificado.id}" 
													        th:text="${tipoCertificado.nombre}" />
			  	 		</select>
			  	 	</div>
			  	 	
			  	 	<div class="input-container">
			  	 		<select class="table-select">
			  	 			<option selected disabled>Buscar Tipo Pedido</option>
			  	 			<option th:each="tipoEstadoPedido : ${tiposEstadoPedido}" 
													        th:value="${tipoEstadoPedido.id}" 
													        th:text="${tipoEstadoPedido.nombre}" />
			  	 		</select>
			  	 	</div>
			  	 	
			  	 	<div class="actions">
	                  <a href="javascript:void(0)" class="button" id="btnNuevoPedido"><i class="fas fa-plus-circle"></i> Solicitar Nuevo Pedido</a>
	              	</div>
	              
			  	 </div>
			  	 
			  
		          <!-- Table sample -->
		          <table id="gestion-pedidos" width="100%" class="row-border hover">
		              <thead>
	              		<tr>
		                      <th>Número de Pedido</th>
		                      <th>Tipo de Certificado</th>
		                      <th>Vigencia</th>
		                      <th>Razón Social del Titular</th>
		                      <th>RUC del Titular</th>
		                      <th>Representante Legal</th>
		                      <th>Datos de Facturación</th>
		                      <th>Estado</th>
	 	                      <th class="icon">Retomar Proceso</th>
		                  </tr>
		              </thead>
		              
<!-- 		              <tbody> -->
<!-- 		              	<tr> -->
<!-- 		              		<td>PD000001</td> -->
<!-- 		              		<td>OSE - Agente Autorizado</td> -->
<!-- 		              		<td>1 año - 12 meses</td> -->
<!-- 		              		<td>LOREM IPSUM</td> -->
<!-- 		              		<td>231243232</td> -->
<!-- 		              		<td>Garrido Eduardo</td> -->
<!-- 		              		<td>lorem ipsum dolor sit amet lorem 9383283 3882732</td> -->
<!-- 		              		<td>En proceso</td> -->
<!-- 		              		<td><i class="fas fa-external-link-alt"></i></td> -->
<!-- 		              	</tr> -->
<!-- 		              </tbody> -->
		              
	              </table>
              </section>
              
          </main>
	          
	   	</div>
	  	
	  	<div id="overlay" class="fade">	 
	  	 <!-- Modal sample -->
	        <div id="modal-validacion" class="modal slide">
	            <div class="modal-box">
	                <div class="modal-close icon">
	                    <i class="fas fa-times"></i>
	                </div>
	    
	                <div class="modal-head">
	                    <div class="modal-title">
	                        <h3>Aviso</h3>
	                    </div>
	                </div>
	    
	                <div class="modal-body">
	                    <p>El pedido esta siendo validado por el administrador.</p>
	                </div>
	    
	                <div class="modal-footer">
	                    <button class="button success wizard-modal-confirm modal-close"><i class="fas fa-check-circle"></i> Aceptar</button>
<!-- 	                    <button class="button error modal-close"><i class="fas fa-times-circle"></i> Cancelar</button> -->
	                </div>
	            </div>
	        </div>
	        <!-- Modal sample -->
	  	</div>
	  	
	</th:block>
	
	<th:block layout:fragment="contenido_modal">
		<div id="modal-exito" class="modal modal-alert modal-success" style="display: none;">
			<div class="modal-dialog">
            	<div class="modal-content">
            		<div class="modal-header"><i class="fa fa-check-circle"></i></div>
              		<div class="modal-title">Proceso exitoso</div>
              		<div class="modal-body">La operación se ha realizado satisfactoriamente.</div>
              		<div class="modal-footer">
                		<button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
              		</div>
            	</div>
          	</div>
		</div>
		
		<div id="modal-eliminar" class="modal modal-alert modal-danger" style="display: none;">
			<div class="modal-dialog">
            	<div class="modal-content">
              		<div class="modal-header"><i class="fa fa-times-circle"></i></div>
              		<div class="modal-title">¿Está usted seguro?</div>
              		<div class="modal-body">¿Desea eliminar el registro seleccionado? Este proceso no puede ser revertido.</div>
              		<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                		<button type="button" class="btn btn-danger" data-dismiss="modal" id="btnEliminar">Eliminar</button>
              		</div>
            	</div>
          	</div>
        </div>
	</th:block>
	
	<th:block layout:fragment="scripts">
		<script th:inline="javascript">
			
			var selEmpresa     = $("#selEmpresa");
			var btnConsultar   = $("#btnConsultar");
			var btnRegistrar   = $('#btnRegistrar');
			var btnLimpiar     = $('#btnLimpiar');
			var btnEliminar    = $('#btnEliminar');
			var btnNuevoPedido = $('#btnNuevoPedido');

		
			$(document).ready(function() {
				
				var selectedolditem = localStorage.getItem('mostrarNotificacionExito');			

				
				inicializarControles();
				
				inicializarFuncionalidad();
// 				mostrarModalInicio();

				

				// NOTIFICACIONES
				$('.noti.success').slideDown('fast');
				$('.dismiss').on('click', function(){
					$(this).parents('.noti').slideUp('fast');
				});
				
				//DROPDOWN TUERQUITA
				$(document).on('click', '.actions-drop', function(e){
					
					if (!$(this).hasClass('opened')) {
						
						var height = e.currentTarget.offsetParent.clientHeight;
					    var clientRect = e.currentTarget.offsetParent.getBoundingClientRect().top;

					    var top = height-80 < e.clientY - clientRect;
					    top ? $(this).addClass('top') : $(this).removeClass('top');
					    
					    $(this).addClass('opened');
					    
					} else {
						$(this).removeClass('opened');
						$(this).removeClass('top');
					}
				});
				$(document).on('focusout', '.actions-drop', function(){
					$(this).removeClass('opened');
					$(this).removeClass('top');
				});
				
				//OCULTAR ACCION EXITOSA
// 				$('.noti.success').hide();
				
				if(selectedolditem != 1){
					mostrarNotificacionInicio();
				}
				
				localStorage.clear();
			});

			function inicializarControles(){
				var tablePedidos = $("#gestion-pedidos").DataTable({
					"scrollX": true,
	 		        "dom": 't<"table-footer"lp>',			
		    		"sAjaxSource": "/pedido/listar",
					"sAjaxDataProp": "",
					"order": [ [ 0, 'desc' ] ],
					"pageLength": 50,
					"columns": [
					    { "data": "numero"},
				     	{ "data": "nombreTipoCertificado"},
						{ "data": "nombreTiempoVigencia","width": "8%"},
						{ "data": "razonSocialTitular","width": "10%"},
						{ "data": "rucTitular"},
						{ "data": "representanteLegal"},
						{ "data": "datosFacturacion"},
						{ "data": "estadoPedido","width": "8%"},
						{
		                 data: null,
		                 className: "icon",
		                 defaultContent: '<a class="btnSeleccionar" href="javascript:void(0)" title="Seleccionar"><i class="fas fa-edit"></i></a>'
		            	}
		            //	{
		            //      data: null,
		            //      className: "icon",
		            //      defaultContent: '<button class="actions-drop" title="Acciones"><i class="fas fa-cog"></i><div class="drop"><ul><a class="inhabilitar"><li><i class="fas fa-ban"></i> Inhabilitar</li></a><a class="enviarNotificacion"><li><i class="fas fa-share-square"></i> Enviar notificación para generación de clave</li></a></ul></div></button>'
		            //	}
					],
					"language": {	
					    "sProcessing":     "Procesando...",
					    "sZeroRecords":    "No se encontraron resultados",
					    "sEmptyTable":     "Ningún dato disponible en esta tabla",
					    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
					    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
					    "sInfoPostFix":    "",
					    "sSearch":         "Buscar:",
					    "sUrl":            "",
					    "sInfoThousands":  ",",
					    "sLoadingRecords": "Cargando...",
					    "lengthMenu":     "Mostrar _MENU_ registros",
					    "oPaginate": {
					        "sFirst":    "Primero",
					        "sLast":     "Ãšltimo",
					        "sNext":     "Siguiente",
					        "sPrevious": "Anterior"
					    },
					    "oAria": {
					        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
					    }
					}
				}); 
								
				$('#gestion-pedidos tbody').on( 'click', 'a', function () {
					var action = this.className;

					if(action == 'btnSeleccionar'){
		      			 var data = tablePedidos.row( $(this).parents('tr') ).data();
		      			 if(data['idEstadoPedido'] != 1 && data['idEstadoPedido'] != 2 ){
		      				modalToggle('modal-validacion');
		      			 }else{
		            		$.redirect( /*[[@{/pedido/crear}]]*/ , {idPedido: data['id'] }, "POST");
		      			 }
					}
					
				});
				
				
				// Buscar en tabla por input text
				$('.table-search-razon-social').on('keyup', function(){
					tablePedidos.columns(3).search($(this).val()).draw();
				});
				
				// Buscar en tabla por selector
				$('.table-select-tipo-certificado').on('change', function(){
					var text = $(this).find('option:selected').text();
					if(text == 'Todos'){
						tablePedidos.columns(1).search('').draw();
					}else{
						tablePedidos.columns(1).search(text).draw();
					}
				});
				
				$('.table-select').on('change', function(){
					var text = $(this).find('option:selected').text();
					if(text == 'Todos'){
						tablePedidos.columns(7).search('').draw();
					}else{
						tablePedidos.columns(7).search(text).draw();
					}
				});
				
				// Resize fix
				$(window).resize(function(){
					tablePedidos.columns.adjust().draw();
				});
				
			};
			
			function inicializarFuncionalidad(){
				
				btnNuevoPedido.click(function(event){
					$.redirect( /*[[@{/pedido/crear}]]*/, {}, "POST");
				});
				
			};
			
			function mostrarNotificacionInicio(){
				
				var selectedolditem = localStorage.getItem('selectedolditem');
				
				var mostrarNotificacionExito = /*[[${mostrarNotificacionExito}]]*/ null;
				if( mostrarNotificacionExito ){
					$('.noti.success').show();
				}else{
					$('.noti.success').hide();
				}
			}
			
			 function modalToggle(modalTarget) {
			        $('#overlay').addClass('show');
			        document.getElementById(modalTarget).classList.add('down');

			        $('.modal-close, #overlay').on('click', function(){
			            $('#overlay').removeClass('show');
			            document.getElementById(modalTarget).classList.remove('down');
			        });
			    }
			
			function mostrarNotificacion(){
				
			}
					
		</script>
	</th:block>
	
	
</html>