

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{fragments/base}">

	<th:block layout:fragment="contenido_pagina">
	
		<div class="col-md-7 col-lg-8 col-xl-9">
			<main>
			
				<!-- Header -->
		        <header class="main-header">
		            <h1 class="title">Gestion de Pedidos - <span>Crear Pedido</span></h1>
		        </header>
		        <!-- Header -->
		        
		        <section>
		        
		        	<!-- Wizard -->
		        	<div class="wizard">

						<!-- Wizard Header -->
                        <div class="wizard-head">
                            <ul>
                                <li class="step-li active">Paso 1</li>
                                <li class="step-li">Paso 2</li>
                                <li class="step-li">Paso 3</li>
                                <li class="step-li">Paso 4</li>
                            </ul>
                            <div class="progress">
                                <div class="bar"></div>
                            </div>
                        </div>
                        <!-- Wizard Header -->

						<!-- PASO 1: Tipo y vigencia del certificado -->
                        <div class="step active">
                            <form class="boxed-form">
                            
                            	<div class="form-title">
				        			<h2 class="title">Tipo y vigencia del certificado</h2>
				        			<span>Los campos marcados por un <span class="required">*</span> son obligatorios</span>
				        		</div>
				        		
				        		<div class="form-content">
				        		
				        			<div class="input-container">
	                                    <label>
	                                        <span>Tipo de certificado <span class="required">*</span></span>
	                                        <div class="validation">
	                                            <select name="tipoCertificado" id="selTipoCertificado" th:field="${pedido.idTipoCertificado}" required>
<!-- 	                                            	<option selected disabled>Seleccione...</option> -->
	                                            	<option th:each="tipoCertificado : ${tiposCertificado}" 
													        th:value="${tipoCertificado.id}" 
													        th:text="${tipoCertificado.nombre}" />
	                                            </select>
	                                        </div>
	                                    </label>
	                                </div>
	                                
	                                <div class="input-container">
	                                    <label>
	                                        <span>Tiempo de vigencia <span class="required">*</span></span>
	                                        <div class="validation">
	                                            <select name="vigenciaCertificado" id="selVigenciaCertificado" th:field="${pedido.idTiempoVigencia}" required>
<!-- 	                                            	<option selected disabled>Seleccione...</option> -->
	                                            	<option th:each="tiempoVigencia : ${tiemposVigencia}" 
													        th:value="${tiempoVigencia.id}" 
													        th:text="${tiempoVigencia.tiempo}" />
	                                            </select>
	                                        </div>
	                                    </label>
	                                </div>
	                                
	                                <div class="price">
	                                	<b class="tag">Precio: </b>
	                                	<span id="txtPrecio" class="nums" th:text="${pedido.monto != null} ? 'S/ '+${pedido.monto} : 'S/ 0'">S/ 0</span>
	                                </div>
	                                
	                                <div class="igv">
	                                	<span>NO INCLUYE IGV</span>
									</div>				
	                                
				        		</div>
    
                            </form>
                        </div>
                        <!-- PASO 1: Tipo y vigencia del certificado -->

						<!-- PASO 2: Titular del certificado -->
                        <div class="step">
                            <form class="boxed-form" id="frmRegistrarDetalle">
                            
	                            <div class="form-title">
				        			<h2 class="title">Titular del certificado <span id="txtPedido" class="pedido"><b>Pedido</b> N°PD</span></h2>
				        			<span>Los campos marcados por un <span class="required">*</span> son obligatorios</span>
				        		</div>
				        		
				        		<div class="form-content">
				        			<div class="row">
				        			
				        				<div class="col-md-5">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>RUC <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="ruc" type="text" id="txtRuc" th:field="${detallePedido.ruc}" placeholder="RUC" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				
				        				<div class="col-md-7">
				  							<div class="input-container">
			                                    <label class="columns">
			                                        <span>Razón social <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="razonSocial" type="text" id="txtRazonSocial" th:field="${detallePedido.razonSocial}" placeholder="Razón Social" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				
				        				<div class="col-md-12">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Dirección completa <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="direccion" type="text" id="txtDireccion" th:field="${detallePedido.direccionCompleta}" placeholder="Dirección completa" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				
				        				<div class="col-md-3">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>País <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="pais" type="text" id="txtPais" th:field="${detallePedido.pais}" placeholder="País" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				<div class="col-md-3">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Departamento <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="departamento" type="text" id="txtDepartamento" th:field="${detallePedido.departamento}" placeholder="Departamento" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				<div class="col-md-3">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Provincia <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="provincia" type="text" id="txtProvincia" th:field="${detallePedido.provincia}" placeholder="Provincia" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				<div class="col-md-3">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Distrito <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="distrito" type="text" id="txtDistrito" th:field="${detallePedido.distrito}" placeholder="Distrito" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				
				        				<div class="col-12">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Nombre del Representante Legal <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="nombreRepresentanteLegal" id="txtNombreRepresentanteLegal" th:field="${detallePedido.nombreRepresentanteLegal}" type="text" placeholder="Nombre del Representante Legal" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				
				        				<div class="col-12">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Número de DNI del Representante Legal <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="dniRepresentanteLegal" type="text" id="txtDniRepresentanteLegal" th:field="${detallePedido.dniRepresentanteLegal}" placeholder="Número de DNI del Representante Legal" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				
				        				<div class="col-12">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Número de Teléfono del Representante Legal <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="telefonoRepresentanteLegal" type="tel" id="txtTelefonoRepresentanteLegal" th:field="${detallePedido.telefonoRepresentanteLegal}" placeholder="Número de Teléfono del Representante Legal" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				
				        				<div class="col-12">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Email donde enviaremos el certificado (correo electrónico de uso exclusivo del Representante Legal) <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="password" type="email" id="txtEmail" th:field="${detallePedido.correoRepresentanteLegal}" placeholder="Email donde enviaremos el certificado" required>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
				        				
				        				<div class="col-12">
				        					<div class="input-container">
			                                    <label class="columns">
			                                        <span>Confirmar correo electrónico <span class="required">*</span></span>
			                                        <div class="validation">
			                                            <input name="password_again" type="email" id="txtEmailConfirmacion" placeholder="Confirmar correo electrónico" required><span class="error_email" id="error_email"></span>
			                                        </div>
			                                    </label>
			                                </div>
				        				</div>
                            		
	                            	</div>    
                                
				        		</div>
                            </form>
                        </div>
                        <!-- PASO 2: Titular del certificado -->

						<!-- PASO 3: Datos de facturacion -->
                        <div class="step">
                            <form class="boxed-form" id="frmRegistrar">
                            
                            	<div class="form-title">
				        			<h2 class="title">Datos de facturación <span id="txtPedido2" class="pedido"><b>Pedido</b> N°PD0001</span></h2>
				        			<span>Información para emitir una factura electrónica por la compra de este certificado.</span>
				        			<br>
				        			<span>Los campos marcados por un <span class="required">*</span> son obligatorios</span>
				        		</div>
                            
	                            <div class="form-content">
	                            	<div class="input-container">
	                                    <label>
	                                        <span>RUC <span class="required">*</span></span>
	                                        <div class="validation">
	                                            <input name="facturacionRUC" id="txtFacturacionRuc" type="text" th:field="${detallePedido.rucFacturacion}" placeholder="RUC" required>
	                                        </div>
	                                    </label>
	                                </div>
	    
	                                <div class="input-container">
	                                    <label>
	                                        <span>Razón social <span class="required">*</span></span>
	                                        <div class="validation">
	                                            <input name="facturacionRazonSocial" id="txtFacturacionRazonSocial" type="text" th:field="${detallePedido.razonSocialFacturacion}" placeholder="Razón Social" required>
	                                        </div>
	                                    </label>
	                                </div>
	                                
	                                <div class="input-container">
	                                    <label>
	                                        <span>Dirección <span class="required">*</span></span>
	                                        <div class="validation">
	                                            <input name="facturacionDireccion" type="text" id="txtFacturacionDireccion" th:field="${detallePedido.direccionFacturacion}" placeholder="Dirección" required>
	                                        </div>
	                                    </label>
	                                </div>
	                            </div>
    
                            </form>
                        </div>
                        <!-- PASO 3: Datos de facturacion -->
                        
                        <!-- PASO 4: Realizar pago -->
                        <div class="step">
	                        <form class="boxed-form">
	                        
	                        	<div class="form-title">
				        			<h2 class="title">Realizar pago <span id="txtPedido3" class="pedido"><b>Pedido</b> N°PD0001</span></h2>
				        			<span>Los campos marcados por un <span class="required">*</span> son obligatorios</span>
				        		</div>
				        		
				        		<div class="form-content">
				        		
				        			<div class="mb-4">
				        				<p class="mb-4 inst">Realizar depósito en ventanilla o en agente del Banco de Crédito BCP. Una vez realizado el pago, deberá adjuntar la constancia de depósito.</p>
				        				<p><span>Número de cuenta (Soles):</span> 193-2261937-0-46</p>
				        				<p><span>Razón Social:</span> INNOVA DIGITAL SOLUTIONS SAC</p>
				        				<p><span>RUC:</span> 20600650387</p>
				        			</div>
				        			
					        		<div class="input-container">
                                   		<label class="file columns">
                                       	<span>Constancia de Pago (formato PDF, JPG o PNG) <span class="required">*</span></span>
<!-- 	                                       	<div class="validation"> -->
	                                           <input class="demoInputBox" id="file" name="file" type="file" accept=".jpg,.png,.pdf"><span class="file_error" id="file_error"></span>
<!--                                            </div> -->
                                   		</label>
<!--                                    		<button type="submit" id="btnCargar" class="button"><i class="fas fa-check-circle"></i>Cargar</button>                              		                               		 -->
	                               </div>
	                                                            
				        		</div>
   
                           </form>
                        </div>
                        <!-- PASO 4: Realizar pago -->


                        <div class="wizard-footer">
                            <button data-dir="prev" class="button error prev">
                                <i class="fas fa-angle-left pr-0 pr-2"></i> Anterior
                            </button>
                            <button id="btnAceptarWizard" data-dir="next" class="button success next">
                                Siguiente <i class="fas fa-angle-right pr-0 pl-2"></i>
                            </button>
                        </div>
                    </div>
		        	<!-- Wizard -->
		        
		        </section>
			
			</main>
		</div>
		
		
		
		
		
		<!-- Overlay for modal -->
	    <div id="overlay" class="fade">
	
	        <!-- Modal sample -->
	        <div id="modal-confirmar" class="modal slide">
	            <div class="modal-box">
	                <div class="modal-close icon">
	                    <i class="fas fa-times"></i>
	                </div>
	    
	                <div class="modal-head">
	                    <div class="modal-title">
	                        <h3>Confirmación de Solicitud</h3>
	                    </div>
	                </div>
	    
	                <div class="modal-body">
	                    <p>Por favor, verifique que los datos ingresados sean correctos antes de seleccionar "Continuar"</p>
	                </div>
	    
	                <div class="modal-footer">
	                    <button class="button success wizard-modal-confirm modal-close"><i class="fas fa-check-circle"></i> Continuar</button>
	                    <button class="button error modal-close"><i class="fas fa-times-circle"></i> Cancelar</button>
	                </div>
	            </div>
	        </div>
	        <!-- Modal sample -->
	        
	           <div id="modal-exito" class="modal slide">
	            <div class="modal-box">
	                <div class="modal-close icon">
<!-- 	                    <i class="fas fa-times"></i> -->
	                </div>
	    
	                <div class="modal-head">
	                    <div class="modal-title">
	                        <h3>Proceso exitoso</h3>
	                    </div>
	                </div>
	    
	                <div class="modal-body">
	                    <p>Se cargó correctamente el archivo adjunto.</p>
	                </div>
	    
	                <div class="modal-footer">
<!-- 	                    <button class="button success wizard-modal-confirm modal-close"><i class="fas fa-check-circle"></i> Continuar</button> -->
<!-- 	                    <button class="button error modal-close"><i class="fas fa-times-circle"></i> Cancelar</button> -->
	                </div>
	            </div>
	        </div>
	        
	        <div id="modal-advertencia" class="modal slide">
	            <div class="modal-box">
	                <div class="modal-close icon">
<!-- 	                    <i class="fas fa-times"></i> -->
	                </div>
	    
	                <div class="modal-head">
	                    <div class="modal-title">
	                        <h3>Proceso no finalizado</h3>
	                    </div>
	                </div>
	    
	                <div class="modal-body">
	                    <p>Recordar que los pedidos que no son pagados dentro de las 72 horas contadas a partir de de su registro, no se guardarán y seran eliminados.</p>
	                </div>
	    
	                <div class="modal-footer">
<!-- 	                    <button class="button success wizard-modal-confirm modal-close"><i class="fas fa-check-circle"></i> Continuar</button> -->
<!-- 	                    <button class="button error modal-close"><i class="fas fa-times-circle"></i> Cancelar</button> -->
	                </div>
	            </div>
	        </div>
	
	    </div>
	    <!-- Overlay for modal -->
	    
	</th:block>
	
	<th:block layout:fragment="scripts">
		<script th:inline="javascript">
		
			$(document).ready(function() {
		    	inicializarControles();

		    	var tiempo = $("#selVigenciaCertificado").find(":selected").val();
				
				$.ajax({
                    url      : /*[[@{/pedido/obtenerPrecio}]]*/,
                    type     : "GET",
                    dataType : "json",
                    cache    : false,
                    data     : {
                    	tiempo : tiempo
                    }
                }).done(function(paramJson){
                	$("#txtPrecio").text("S/ "+agregarDecimales(paramJson.parametros.precio, 2));
                }).fail(function( jqXHR, textStatus, errorThrown ) {
                	//VALIDAR_ERROR
                });
		    	
				/////// Step 1 - Generar Precio ////////
				$('#selVigenciaCertificado').on('change', function(){
					
					var tiempo = $("#selVigenciaCertificado").find(":selected").val();
					
					$.ajax({
	                    url      : /*[[@{/pedido/obtenerPrecio}]]*/,
	                    type     : "GET",
	                    dataType : "json",
	                    cache    : false,
	                    data     : {
	                    	tiempo : tiempo
	                    }
	                }).done(function(paramJson){
	                	$("#txtPrecio").text("S/ "+agregarDecimales(paramJson.parametros.precio, 2));
	                }).fail(function( jqXHR, textStatus, errorThrown ) {
	                	//VALIDAR_ERROR
	                });
					

				});
				/////// Step 1 - Generar Precio ////////

				$('#btnCancelar').on('click', function(){
					window.location.href = '' + /*[[@{/usuario/bandeja}]]*/;
				});
				
        		$("#txtPedido").text("Pedido N°PD " + numeroCorrelativo);
        		$("#txtPedido2").text("Pedido N°PD " + numeroCorrelativo);
        		$("#txtPedido3").text("Pedido N°PD " + numeroCorrelativo);

							
				////// Wizard //////
				
			    // Cantidad de steps
			    var steps = $('.wizard').find('.step').length;
			    // Step activo
			    if(idEstadoPedido==2 || idEstadoPedido== 3){
            		$("#btnAceptarWizard").html('Finalizar');
			    	var active = 3;
			    	setActive(3)
			    }else{
			    	var active = $('.wizard').find('.step.active').index()-1;
			    }
			    
			    showProgress(active, steps);

			    var notConfirmed = true;


			    $('.wizard-footer button').on('click', function() {

			    	
			        // Dirección
			        var dir = $(this).data('dir');

			        // Si la dirección avanza
			        if (dir == 'next') {
			            if (checkForm(active)) {

			                $('.step-li').eq(active).addClass('filled');

			                if (active == 0) {
			                	console.log('Step1');
			                	
// 			                	if(selTipoCertificado.val() == 0 || selVigenciaCertificado.val() == 0){
// 			    		    		$("#validacion").html("Los campos son obligatorios");
// 			                		$(".validacion").css("color","#dc2e4f");
// 			                		return false;
// 			    		    	}
			                	
			                	if(idPedido == null){
			                		nuevoPedido = 'S';
			                	}else{
			                		nuevoPedido = 'N';
			                	}
			                	
			    				$.ajax({
			                        url: /*[[@{/pedido/registrar}]]*/,
			                        type: "POST",
			                        dataType: "json",
			                        cache: false,
			                        data : {
			                        	idTipoCertificado : $("#selTipoCertificado").find(":selected").val(),
			                        	idTiempoVigencia :  $("#selVigenciaCertificado").find(":selected").val(),
			                        	monto : $("#txtPrecio").text().split(' ')[1],
			                        	nuevoPedido : nuevoPedido
			                        }
			                    }).done(function(paramJson){
			                    	numeroCorrelativo = paramJson.parametros.numeroCorrelativo;
		                    		$("#txtPedido").text("Pedido N°PD " + numeroCorrelativo);
			                    	idPedido = paramJson.parametros.idPedido;	                    			                  	
			                    }).fail(function( jqXHR, textStatus, errorThrown ) {

			                    });
			                	
			                }
			                
			                if(active == 1){
	                    		$("#txtPedido2").text("Pedido N°PD " + numeroCorrelativo);
	                    		
	                    		$("#error_email").html("");
	        					if(txtEmail.val() != txtEmailConfirmacion.val()){
	        						$("#error_email").html("Los correos ingresados deben coincidir, por favor intente nuevamente.");
	                        		$(".error_email").css("color","#dc2e4f");
	        						return false;
	        					}
	                    		
			                }
			                
			                // abrir el modal!
			                if (active == 2 && notConfirmed == true) {
	                    		$("#txtPedido3").text("Pedido N°PD " + numeroCorrelativo);
			                    modalToggle('modal-confirmar');
			                    return false;
			                    
			                }	
			                
			                // Acción final!
			                if (active == 3) {
			                	
			                	var file = $("#file").prop("files")[0];
			                	
			                	if(typeof file === "undefined"){
			                		modalToggle('modal-advertencia');
			                	}
			                	
			                	var file_size = $("#file").prop("files")[0].size;
			                	
			                	$("#file_error").html("");
			                	$(".demoInputBox").css("border-color","#ccc");
			                	if(file_size>2097152) {
			                		$("#file_error").html("El tamaño del archivo debe ser inferior a 2 MB");
			                		$(".file_error").css("color","#dc2e4f");
			                		$(".demoInputBox").css("border-color","#dc2e4f");
			                		return false;
			                	}
			                	
			                	var formData = new FormData();
			                 	formData.append("file", $("#file").prop("files")[0]);

			                	$.ajax({
			                        url: /*[[@{/pedido/subir}]]*/,
			                        type: "POST",
			                        dataType: "json",
			                        cache: false,
			                        enctype: 'multipart/form-data',
			                        data : formData,
			                        processData: false,
			                        contentType: false
			                    }).done(function(paramJson){  
			                    	$("#file").prop('disabled', true);
									$("#file_error").html("Archivo subido correctamente.");
			                		$(".file_error").css("color","#7ea530");								
				                	$(".demoInputBox").css("border-color","#7ea530").css("font-weight","inherit");
				                	
				                	modalToggle('modal-exito');
				                	
			                    }).fail(function( jqXHR, textStatus, errorThrown ) {
									console.log('erororrrr');
			                    });
// 			                	return false;
			                }

			                active += 1;
			                if (active < steps) {
			                    setActive(active);
			                } else {
			                    $('.step-li').eq(active).removeClass('filled');
			                    active -= 1;
			                }
			            }
			        // Si la dirección retrocede
			        } else {
			            active -= 1;
                		$("#btnAceptarWizard").html('Continuar');
			            if (active >= 0) {
			                setActive(active);
			            } else {
			                active += 1;
			            }
			        }

			    });

			    // Navegacion por click
			    $('.step-li').on('click', function(){

			        var goTo = $(this).index();

			        if (active < goTo) {
			            for (var i = active; i < goTo; i += 1) {
			                $('.wizard .next').trigger('click');
			            }
			        } else {
			            for (var i = active; i > goTo; i -= 1) {
			                $('.wizard .prev').trigger('click');
			            }
			        }
			        
			    });

			    // validar formularios
			    function checkForm(value) {
			        var isValid = true;

			        if ($('.wizard').find('.step form').eq(value).valid()) {
			            isValid = true;
			        } else {
			            return false;
			        }
			        return isValid;
			    }

			    // Cambiar paso activo
			    function setActive(active) {
			        $('.wizard').find('.step').removeClass('active');
			        $('.wizard').find('.step').eq(active).addClass('active');
			        $('.wizard').find('.step-li').removeClass('active');
			        $('.wizard').find('.step-li').eq(active).addClass('active');
			        showProgress(active, steps)
			    }

			    // Mostrar progreso
			    function showProgress(active, steps) {
			        var width =  (active+1)*100 / (steps);
			        $('.bar').css('width', width+'%');

			        $('.wizard-footer button').removeClass('disabled');

			        if (active == 0) {
			            $('.wizard-footer .prev').addClass('disabled');
			        }
			    }
			    
			    function modalToggle(modalTarget) {
			        $('#overlay').addClass('show');
			        document.getElementById(modalTarget).classList.add('down');

			        if(modalTarget == 'modal-exito'){
			        	setTimeout(function(){
			        		 $('#overlay').removeClass('show');
					            document.getElementById(modalTarget).classList.remove('down');
					        	$.redirect( /*[[@{/pedido/bandeja}]]*/, {}, "GET");			        	
					    }, 5000);
			        }else if(modalTarget=='modal-advertencia'){
			        	setTimeout(function(){
			        		 $('#overlay').removeClass('show');
					            document.getElementById(modalTarget).classList.remove('down');
					        	$.redirect( /*[[@{/pedido/bandeja}]]*/, {}, "GET");			        	
					    }, 5000);
			        }else{
			        	$('.modal-close, #overlay').on('click', function(){
				            $('#overlay').removeClass('show');
				            document.getElementById(modalTarget).classList.remove('down');
				        });
			        }
			        
			    }
			    
// 			    function modalToggle2(modalTarget) {
// 			        $('#overlay-2').addClass('show');
// 			        document.getElementById(modalTarget).classList.add('down');

// 			        	setTimeout(function(){
// 			        		 $('#overlay-2').removeClass('show');
// 					            document.getElementById(modalTarget).classList.remove('down');
// 					    }, 2000);
			      
// 			    }

			    // confirmar en modal
			    $('.wizard-modal-confirm').on('click', function(){
			    	
			    	var ruc = $("#txtRuc").val();
			    	var razonSocial = $("#txtRazonSocial").val();
			    	$.ajax({
                        url: /*[[@{/pedido/detalle/registrar}]]*/,
                        type: "POST",
                        dataType: "json",
                        cache: false,
                        data : {
                        	ruc : $("#txtRuc").val(),
                        	razonSocial : $("#txtRazonSocial").val(),
                        	direccion : $("#txtDireccion").val(),	
                        	pais : $("#txtPais").val(),
                        	departamento : $("#txtDepartamento").val(),
                        	provincia : $("#txtProvincia").val(),
                        	distrito : $("#txtDistrito").val(),
                        	nombreRepresentante : $("#txtNombreRepresentanteLegal").val(),
                        	dniRepresentante : $("#txtDniRepresentanteLegal").val(),
                        	telefonoRepresentante : $("#txtTelefonoRepresentanteLegal").val(),
                        	email : $("#txtEmail").val(),
                        	rucFacturacion : $("#txtFacturacionRuc").val(),
                        	razonSocialFacturacion : $("#txtFacturacionRazonSocial").val(),
                        	direccionFacturacion : $("#txtFacturacionDireccion").val()
                        }
                    }).done(function(paramJson){
//                 		$("#txtPedido").text(paramJson.parametros.numeroCorrelativo);
                    	idPedido = paramJson.parametros.idPedido;
                		$("#btnAceptarWizard").html('Finalizar');
                    }).fail(function( jqXHR, textStatus, errorThrown ) {

                    });
			    	
			    	modalToggle('modal-confirmar');
			        active += 1;
			        setActive(3);
// 			        notConfirmed = false;
			    });
			    
				
		    });
		
			var idPedido = null;
	    	var nuevoPedido = null;
	    	var numeroCorrelativo = null;
			var idEstadoPedido = null;
	    	var selTipoCertificado = null;
	    	var selVigenciaCertificado = null;
	    	var txtEmail = null;
	    	var txtEmailConfirmacion =null;
	    	
			function inicializarControles(){
				idPedido = [[${idPedido}]];
				idEstadoPedido = [[${idEstadoPedido}]];
				numeroCorrelativo = [[${numeroCorrelativo}]];
				selTipoCertificado = $('#selTipoCertificado');
				selTipoCertificado = $('#selTipoCertificado');
				txtEmail = $('#txtEmail');
				txtEmailConfirmacion = $('#txtEmailConfirmacion');
			}
						
		</script>
	</th:block>
	
</html>