<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"	
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  	  
	<head>
    	
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- 		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Certificados.pe</title>
		
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../../assets/css/p-loading/p-loading.min.css" th:ref="@{/assets/css/p-loading/p-loading.min.css}" />		
		<link rel="stylesheet" type="text/css" href="../../assets/css/all.min.css" th:ref="@{/assets/css/all.min.css}">
	    <link rel="stylesheet" type="text/css" href="../../assets/css/datatables.min.css" th:ref="@{/assets/css/datatables.min.css}">
	    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css" th:ref="@{/assets/css/bootstrap-grid.css}">
	    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" th:ref="@{/assets/css/main.css}">
	
	</head>
	
	<body>
	
	<div class="logout">
    	<a th:href="@{/login/cerrarSesion}">
    		<img class="d-block" src="/assets/img/logout.svg" alt="Cerrar sesion">
    		<span>CERRAR SESIÓN</span>
    	</a>
    </div>
   		
<!-- 		<nav class="navbar px-navbar"> -->
<!-- 			<div class="navbar-header"> -->
<!-- 				<a class="navbar-brand" href="#"></a> -->
<!-- 			</div> -->
		
<!-- 		  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#px-navbar-collapse" aria-expanded="false"><i class="navbar-toggle-icon"></i></button> -->
		
<!-- 			<div id="px-navbar-collapse"  -->
<!-- 			     class="collapse navbar-collapse" -->
<!-- 			     th:utext="${session.usuarioAutenticado.opcionesHtml}"> -->
<!-- 			     [[${session.usuarioAutenticado.opcionesHtml}]] -->
<!-- 				 ${session.usuarioAutenticado.opcionesHtml} -->
<!-- 		    	<ul class="nav navbar-nav"> -->
<!-- 		      		<li class="dropdown"> -->
<!-- 		        		<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> -->
<!-- 							<i class="fa fa-angle-down m-r-1"></i> -->
<!-- 							Documentos electrónicos -->
<!-- 		  				</a> -->
<!-- 		        		<ul class="dropdown-menu"> -->
<!-- 		        			<li><a th:href="@{/seguimiento/listar}"><i class="fa fa-bars m-r-1"></i> Mostrar documentos emitidos</a></li> -->
<!-- 		        			<li class="divider" /> -->
<!-- 				    		<li><a href="#"><i class="fa fa-plus m-r-1"></i> Generar Factura Electrónica</a></li> -->
<!-- 							<li><a href="#"><i class="fa fa-plus m-r-1"></i> Generar Boleta de Venta Electrónica</a></li> -->
<!-- 							<li><a href="#"><i class="fa fa-plus m-r-1"></i> Generar Nota de Crédito Electrónica</a></li> -->
<!-- 							<li><a href="#"><i class="fa fa-plus m-r-1"></i> Generar Nota de Debito Electrónica</a></li> -->
<!-- 		        		</ul> -->
<!-- 		      		</li> -->
<!-- 		    	</ul> -->

<!-- 		    	<ul class="nav navbar-nav navbar-right"> -->
<!-- 		      		<li class="dropdown"> -->
<!-- 		        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> -->
<!-- 		    				<i class="fa fa-gear m-r-1"></i> -->
<!-- 		          			Configuración -->
<!-- 		        		</a> -->
<!-- 		        		<ul class="dropdown-menu"> -->
<!-- 		          			<li><a href="#">First item</a></li> -->
<!-- 		          			<li><a href="#">Second item</a></li> -->
<!-- 		          			<li class="divider"></li> -->
<!-- 		          			<li><a href="#">Third item</a></li> -->
<!-- 		        		</ul> -->
<!-- 		      		</li> -->
<!-- 		    	</ul> -->
<!-- 		  	</div> -->
<!-- 		</nav> -->
<div class="container-fluid p-0">
        <div class="row no-gutters">
			<div class="col-md-5 col-lg-4 col-xl-3">
                <!-- Sidebar -->
                <aside>

                    <header class="sidebar-header">
                        <!-- Logo -->
                        <div class="logo">
                            <img src="/../../assets/img/Logo Certificados 2019_1.png" />
                        </div>
                        <!-- Logo -->
                    </header>

                    <!-- Title -->
                    <div class="title">
                        <h2>Hola, <span class="user" th:utext="${session.usuarioAutenticado.nombres}">Administrador</span></h2>
                    </div>
                    <!-- Title -->

                    <!-- Navigation -->
                    <ul class="navigation"
                    	th:utext="${session.usuarioAutenticado.opcionesHtml}">
<!--                         <li> -->
<!--                             <span class="icon"><i class="fas fa-users-cog"></i></span> -->
<!--                             <a href="">Gestión de aliados</a> -->
<!--                         </li> -->
<!--                         <li> -->
<!--                             <span class="icon"><i class="fas fa-file-medical"></i></span> -->
<!--                             <a href="">Gestión de pedidos</a> -->
<!--                         </li> -->
<!--                         <li> -->
<!--                             <span class="icon"><i class="fas fa-id-badge"></i></span> -->
<!--                             <a href="">Mi cuenta</a> -->
<!--                         </li> -->
                    </ul>
                    <!-- Navigation -->
                    <div class="sidebar-btn">
	    				<a href="https://certificados.pe"><img src="/assets/img/Botón Volver a Certificados.png" alt="Volver a Certificados.pe"></a>
	    			</div>
                    

                    <!-- Footer -->
                    <footer>
                        Certificados.pe &copy; Todos los derechos reservados
                    </footer>
                    <!-- Footer -->

                </aside>
                <!-- Sidebar -->
            </div>
            
            <th:block layout:fragment="contenido_pagina">
			</th:block>
	</div>
</div>
		<!-- loading -->
		<div class="mask">
			<i class="fa fa-spinner fa-spin mask-loader"></i>
		</div>
		
		<!-- Contenido -->
<!-- 		<div class="px-content" style="padding-bottom: 6%;"> -->
<!-- 			<th:block layout:fragment="contenido_pagina"> -->
<!-- 			</th:block> -->
			
			<th:block layout:fragment="contenido_modal">
			</th:block>
			
<!-- 			<div id="modal-error" class="modal modal-alert modal-danger" style="display: none;"> -->
<!-- 				<div class="modal-dialog"> -->
<!-- 	            	<div class="modal-content"> -->
<!-- 	              		<div class="modal-header"><i class="fa fa-times-circle"></i></div> -->
<!-- 	              		<div class="modal-title" th:text="#{modal.error.titulo}"></div> -->
<!-- 	              		<div class="modal-body"></div> -->
<!-- 	              		<div class="modal-footer"> -->
<!-- 							<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button> -->
<!-- 	              		</div> -->
<!-- 	            	</div> -->
<!-- 	          	</div> -->
<!-- 	        </div> -->
<!-- 		</div> -->
		
		
		<!-- Footer -->
<!-- 		<footer class="px-footer px-footer-bottom"> -->
<!-- 			Copyright © 2019. Todos los derechos reservados. -->
<!-- 		</footer> -->
		
		<!-- ==============================================================================
		|  SCRIPTS
		=============================================================================== -->
		<!-- Pace.js -->
<!-- 		<script type="text/javascript" th:src="@{/js/pace/pace.min.js}" src="js/pace/pace.min.js"></script> -->
		
		<!-- Load jQuery -->
<!-- 		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
		
		<!-- Core scripts -->
<!-- 		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script> -->
<!-- 		<script type="text/javascript" th:src="@{/js/pixeladmin.min.js}" src="js/pixeladmin.min.js"></script> -->
		
		<!-- Bootstrap table -->
<!-- 		<script type="text/javascript" th:src="@{/js/bootstrap-table/bootstrap-table.js}" src="js/bootstrap-table/bootstrap-table.js"></script> -->
<!-- 		<script type="text/javascript" th:src="@{/js/bootstrap-table/locale/bootstrap-table-es-ES.js}" src="js/bootstrap-table/locale/bootstrap-table-es-ES.js"></script> -->
		
		<!-- P-Loading JS -->
		
		
		<!-- MiFactura JS -->
<!-- 		<script type="text/javascript" th:src="@{/js/mifactura.js}" src="js/mifactura.js"></script> -->
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" th:src="@{../../assets/js/p-loading/p-loading.min.js}" src="../../assets/js/p-loading/p-loading.min.js"></script>
		<script type="text/javascript" th:src="@{../../assets/js/jquery-validation-1.17.0/jquery.validate.min.js}" src="../../assets/js/jquery-validation-1.17.0/jquery.validate.min.js"></script>
	    <script type="text/javascript" th:src="@{../../assets/js/validate-es.js}" src="../../assets/js/validate-es.js"></script>
	    <script type="text/javascript" th:src="@{../../assets/js/datatables.min.js}" src="../../assets/js/datatables.min.js"></script>
	    <script type="text/javascript" th:src="@{../../assets/js/main.js}" src="../../assets/js/main.js"></script>
		<script type="text/javascript" th:src="@{../../assets/js/certificados.js}" src="../../assets/js/certificados.js"></script>
		<script type="text/javascript" th:src="@{../../assets/js/jquery.redirect.js}" src="../../assets/js/jquery.redirect.js"></script>
		<script type="text/javascript" th:src="@{../../assets/js/bootstrap.min.js}" src="../../assets/js/bootstrap.min.js"></script>	
		<th:block layout:fragment="scripts" />
		
	</body>
	
</html>